<!-- BEGIN: PRODUCT -->
<script type="text/javascript">
    function Deleteitem(id){
        if(confirm("Do you want to delete this item?")){
            window.location.href = "?m=product&a=delete&id=" + id;
        }
    }
</script>
<table class="table table-striped">
    <tr>
        <th>Nbr</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    <!-- BEGIN: LOOP -->
    <tr>
            <td>{LOOP.id}</td>
            <td>{LOOP.name}</td>
            <td><a href= "javascript:void(0)" onclick="Deleteitem('{LOOP.id}')">Delete</a>&nbsp 
                <a href="?m=product&a=update&id={LOOP.id}">Update</a>
            </td>

    </tr>
    <!-- END: LOOP -->
</table>
<div ><a href="?m=product&a=add">Add product</a></div>
<!-- END: PRODUCT -->