<!-- BEGIN: LAYOUT -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale= 1">
    <title>Registration Form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Admin Panel C1807L</title>
</head>
<body>
    <div class="main">
            <div class='menu'>
                <a href="?m=category&a=list">Category</a>&nbsp|&nbsp                 
                <a href="?m=product&a=list">List of product</a>&nbsp|&nbsp
                <a href="?m=user&a=list">User</a>
                 </ul>              
            </div>
            <div>{content}</div>
    </div>
</body>
</html>
<!-- END: LAYOUT -->
 
